@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* styling the hero-banner */
h3 {
  font-weight: bold;
  font-size: 30px;
}
h2{
    font-weight: 800;
  font-size: 50px;
}

h1 {
  font-weight: 800;
  font-size: 50px;
}
h4 {
  font-weight: bold;
  font-size: 20px;
}
.wrapper {
  width: 960px;

  margin: 0 auto;
}
.hero-banner {
  background-color: #007fff;
  min-height: 100vh;
  padding: 50 20px;
  position: relative;
  overflow: hidden;
}
.hero-banner h3 {
  color: white;
  margin: 0 0 35px;
}
.hero-banner h1 {
  color: white;
  margin: 14px 0 20px;
}
.hero-banner h4,
.hero-banner h4 a {
  color: white;
}
.character1 {
  background: url('imgs/character2.jpeg') no-repeat 0 0;
  background-size: 100%;
  width: 150px;
  height: 300px;
  position: absolute;
  top: 70px;
  right: 5%;
  transform: rotate(15deg);
}
.character2 {
  background: url('imgs/character1.jpeg') no-repeat 0 0;
  background-size: 100%;
  width: 150px;
  height: 300px;
  position: absolute;
  top: 150px;
  right: 250px;
}
.character3 {
  background: url('imgs/character3.jpeg') no-repeat 0 0;
  background-size: 100%;
  width: 150px;
  height: 300px;
  position: absolute;
  bottom: 70px;
  right: 120px;
  transform: rotate(20deg);
}
a.cta,
button.cta {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background: #007fff;
  display: inline-block;

  box-shadow: 0 0 0 10px rgba(0, 127, 255, 15);
  padding: 20px 30px;
  border-radius: 10px;
  text-decoration: none;
}
a.cta.alt,
button.cta.alt {
  background: #ffd400;
  color: #111111;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
}
/* styling the nav bar */
nav {
  height: 100px;
  width: 100%;

  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
}
nav .logo {
  width: 100px;
  text-indent: -90px; /*this property will move the text far away fromthe logo */
}

nav ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav a {
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  color: #111111;
}
.more-info{
 text-align: center;
}

p{
font-weight: bold;
font-size: 30px;
margin: 30px 0px;
}
.more-info p{
  margin: 18px 0 35px;
}
.highlight{
    background-color: #FFADF9;
    color: #FF3300;
    padding: 5px 10px;
    line-height: 50px;
    display: inline;
    font-weight: 800;
}

/*<div class="more-info" id="more-info">
      <h2>Join Our Fan Club</h2>
      <p>
        Every Week we have a party . If you want to join our fan Club. Members
        will also receive pictures of us in all kinds of shapes and sizes.
        coolhuh?
      </p>
      <button class="cta">Sign me Up!</button>
    </div>/*
